div#client {
    top: 145px;
    height: calc(100% - 150px);
}

div#finishedOverlay {
    top: 55px;
    z-index: 0;
}

@media (orientation: landscape){
    h2 {
        margin: 5px 10px;
        font-size: 18px;
    }
}

@media (orientation: portrait){
    div#video{
        position: relative;
        width: 100%;
        height: calc(50% - 30px);
        max-height: calc(50% - 30px);
        overflow: hidden;
    }

    video {
        height: auto !important;
        max-height: 100% !important;
        overflow: hidden;
        position: absolute;
    }

    div#sidebar {
        position: relative;
        width: 100%;
        padding: 30px 0 10px;
        height: calc(50% - 35px);
    }

    #button-container {
        position: relative;
        transform: none;
        top: 0;
        padding-left: 15px;
        height: 80%;
    }

    button.choice {
        width: calc(50% - 10px);
        height: 40%;
        float: left;
        margin-right: 3px;
    }

    div#finishedOverlay {
        z-index: 2;
    }

    footer {
        width: 100%;
        height: auto;
    }
}
