div#client{
    height: 100%;
}

div#video{
    top: 0;
    width: 100%;
    padding-bottom: 75%;
}

#loading {
    left: 50%;
    padding-top: 25%;
}

div#sidebar{
    height: 50%;
    width: 100%;
    bottom: 50px;
    padding-top: 25%;
}

h2{
    font-size: 1.5em;
}

@media (max-width: 991px) and (min-width: 768px) {
    div#sidebar {
        height: calc(50% - 160px);
        width: 100%;
        bottom: 50px;
        padding-top: 0;
        top: 50%;
    }

    footer {
        bottom: 40px;
    }
}

div#startOverlay {
    position: absolute;
    top:5%;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
}

div#startOverlay-sidebar {
    position: absolute;
    background-color: #00b3ee;
    height: 50%;
    left: 0;
    width: 100%;
    bottom: 0;
    padding-top: 60%;
    overflow-y: auto;
}

.step{
    max-height: 5%;
}

.step p{
    font-size: 1.5vh;
}

div#startOverlay-field{
    position: absolute;
    height: 50%;
    width: 100%;
    top: 5%;
    left: 0;
}