div#client{
    height: 100%;
}

div#video{
    top: 0;
    width: 100%;
    padding-bottom: 75%;
}

#loading {
    left: 50%;
    padding-top: 25%;
}

div#sidebar{
    height: 50%;
    width: 100%;
    bottom: 50px;
    padding-top: 25%;
}

h2{
    font-size: 1.5em;
}