div#client{
    top: 105px;
    height: calc(100% - 105px);
}

div#video{
    width: 70%;
    height: calc(100% - 80px);
}

#loading {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div#sidebar{
    height: calc(100% - 80px);
    width: 30%;
    top: 0;
}